<% provide(:title, 'All users') %>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="panel panel-default" id="navs">
      <div class="panel-heading user-show-panel-header">
        <h3>All users</h3>
      </div>
      <div class="panel-body clearfix user-show-panel">
        <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
        <% @users.each do |user| %>

          <ul class="users">
              <li>
                <%= gravatar_for user, size: 52 %>
                <%= link_to user.full_name, user %>
                <% if current_user.type == "Admin" && !current_user?(user) && user.type == "Customer" %>
                  | <%= link_to "delete", user, method: :delete,
                                                data: { confirm: "You sure?" } %>
                <% end %>
              </li>
          </ul>

        <% end %>

        <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>


