<% provide(:title, 'All users') %>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="panel panel-default" id="navs">
      <div class="panel-heading">
        <h3>All users</h3>
        <span class="pull-right" style="margin-top: -3pc;"><%= link_to "Enroll Admin", sti_user_path("Admin", "new"), class: "btn btn-success" %></span>
      </div>
      <div class="panel-body clearfix user-show-panel">
        
        <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
        <% @users.each do |user| %>

          <ul class="users">
              <li>
                <%= gravatar_for user, size: 52 %>
                <%= link_to user.full_name, sti_user_path(user.type, user) %>
                <% if user.type == "Customer" %>
                  | <%= link_to "delete", user, method: :delete,
                                                data: { confirm: "You sure?" } %>
                <% end %>
              </li>
          </ul>

        <% end %>

        <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
      
      </div>
    </div>
  </div>
</div>


