<% provide(:title, 'Checkout') %>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="panel panel-default" id="navs">

      <div class="panel-heading">
        <h3>Checkout books</h3>
        </span>
      </div>

      <div class="panel-body clearfix" style="margin-left:0;margin-right: 0;text-align: center;">
        <span class="text-info">Total Cost: </span>
        <span><%= number_to_currency(carted_books_total_cost, unit: "€") %></span>

        <%= form_tag purchases_path do %>
          <div id="small-push"></div>

          <%= label_tag :address, "<span class=\"text-info\">Billing Address:</span>".html_safe %>
          <div><%= collection_select(:address, :id, @addresses, :id, :to_formatted_s) %></div>

          <div id="push"></div>
          <%= render "stripe_button" %>
        <% end %>
      </div>

    </div>
  </div>
</div>


