<% provide(:title, 'Sign Up') %>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="panel panel-default" id="navs">

      <div class="panel-heading"><h3>Come join us!</h3>
      </div>

      <div class="panel-body clearfix">
        <%= render 'shared/error_messages', object: @signup %>

        <div class="col-lg-7 col-lg-offset-2">
          <%= labeled_form_for(@signup, url: customers_path(@signup), method: :post) do |f| %>
            <div id="small-push"></div>
            <span class="text-info">Your details:</span>
            <%= render 'users/fields', f: f %>

            <div id="push"></div>
            <span class="text-info">Your billing address:</span>
            <%= render 'addresses/fields', f: f %>

            <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
