<% provide(:title, @customer.full_name) %>

<% present @customer, UserPresenter do |user_presenter| %>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="panel panel-default" id="navs">

        <div class="panel-heading user-show-panel-header">
          <%= user_presenter.show_title("Showing Profile:", @customer.full_name) %>
          <span class="pull-right user-show-grav-container">
            <%= user_presenter.gravatar %>
          </span>
        </div>

        <div class="panel-body clearfix user-show-panel">
          <div class="col-lg-4 pull-right">
            <%= user_presenter.edit_link   if current_user?(@customer) %>
            <%= user_presenter.delete_link if current_user?(@customer) %>
            <%= user_presenter.purchase_history_link                   %>
          </div>

          <% ["first_name", "surname", "email"].each do |attr_str| %>
            <div id="small-push"></div>
            <%= user_presenter.attribute_label(attr_str) %>
            <%= user_presenter.attribute_content(attr_str) %>
          <% end %>

          <div id="small-push"></div>
          <%= user_presenter.show_addresses_title(current_user?(@customer)) %>

          <% if @customer.addresses.any? %>
            <ol class="addresses">
              <%= render @addresses %>
            </ol>

            <%= will_paginate @addresses, renderer: BootstrapPagination::Rails %>
          <% end %>
        </div>

      </div>
    </div>
  </div>

<% end %>
