<tr>
  <td><%= link_to book.title, book_path(book) %></td>
  <td class="price"><%= number_to_currency(book.price, unit: "€") %></td>
  <td><%= book.author.full_name %></td>
  <td><%= book.topic.title %></td>
  <td><%= book.stock_count %></td>
</tr>
