<table class="app-table">
  <tr>
    <th id="book-title"><%= sortable "title" %></th>
    <th id="book-price"><%= sortable "price" %></th>
    <th id="author-name"><%= sortable "authors.full_name", "Author" %></th>
    <th id="topic-title"><%= sortable "topics.title", "Topic" %></th>
    <th id="stock-count"><%= sortable "book_stock_count", "Stock" %></th>
  </tr>
  <%= render @books %>

</table>
<%= will_paginate @books, renderer: BootstrapPagination::Rails %>
