<% provide(:title, @book.title) %>


<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="panel panel-default" id="navs">
      <div class="panel-heading user-show-panel-header">
        <h3>Showing Book: <%= @book.title %></h3>
      </div>
      <div class="panel-body clearfix user-show-panel">
      <div class="col-lg-4 pull-right">

          <span class="text-info">Stock Levels:</span>
          <% if current_user.type == "Admin" %>

            <%= form_tag(book_book_stocks_path(@book), method: :post) do %>

              <span>
                <%= select_tag :stock_count, options_for_select((0..100), @book.stock_count) %>
                <%= submit_tag "Update", class: "btn btn-primary" %>
              </span>

            <% end %>
          <% else %>
            <span><%= @book.stock_count %></span>
            <% if @book.stock_count == 0 %>
              <div class="alert alert-danger small">Cannot purchase book :(</div>

            <% else %>
              <%= link_to 'Add to cart', cart_add_path(@book), class: "btn btn-primary" %>

            <% end %>
          <% end %>
        </div>

        <div id="small-push"></div>
        <span class="text-info">Author:</span>
        <p><%= @book.author.full_name %></p>

        <div id="small-push"></div>
        <span class="text-info">Price:</span>
        <p><%= number_to_currency(@book.price, unit: "€") %></p>

        <div id="small-push"></div>
        <span class="text-info">Topic:</span>
        <p><%= @book.topic.title %></p>

      </div>
    </div>
  </div>
</div>


