<% provide(:title, 'Cart') %>

<% present shopping_cart, CartPresenter do |cart_presenter| %>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="panel panel-default" id="navs">

        <div class="panel-heading">
          <%= cart_presenter.show_title("Shopping Cart","(#{shopping_cart.size})") %>

          <span class="pull-right user-show-grav-container">
            <%= cart_presenter.clear_all_link %>
            <%= cart_presenter.checkout_link  if !@books.empty? %>

          </span>
        </div>

        <div class="panel-body clearfix user-show-panel">
          <%= cart_presenter.total_cost_title_div %>

          <div id="cart-table-container">
            <%= render partial: 'shopping_cart/books', locals: { books: @books, cart_presenter: cart_presenter } %>
          </div>
        </div>

      </div>
    </div>
  </div>

<% end %>
