<% provide(:title, "Book Review") %>


<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="panel panel-default" id="navs">
      <div class="panel-heading user-show-panel-header">
        <h3>Book Review: <%= @review.book.title %></h3>
      </div>
      <div class="panel-body clearfix user-show-panel">
        <div class="col-lg-4 pull-right">
           <% if current_user?(@review.customer) %>
            <%= link_to "Update", edit_book_review_path(@review.book, @review), class: "btn btn-primary" %>
            <%= link_to "Delete", customer_review_path(current_user, @review), method: :delete, data: { confirm: "You sure?" }, class: "btn btn-danger" %>

          <% else %>
            <div id="small-push"></div>
            <span class="text-info">Submitted by:</span>
            <p><%= @review.customer.full_name %></p>

          <% end %>

          <div id="small-push"></div>
          <span class="text-info">Made on:</span>
          <p><%= @review.created_at.strftime("%d/%m/%Y")%></p>

        </div>


        <div id="small-push"></div>
        <span class="text-info">Message:</span>
        <p><%= @review.message %></p>

      </div>
    </div>
  </div>
</div>


